*.class

# Package Files #


# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/


#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

#gwt junit compilation files


#old GWT (1.5) created this dir
.gwt-tmp/
