/** Add css rules here for your application. */


body {
	padding: 2px;
}

h1 {
	text-align: center;
	color: #2062B8;
}

/* crime type header row*/
.crimeTypeHeader{
	background-color: #2062B8;
	color: white;
	font-style: normal;
	text-align: center;
}

/* crime type header titles row*/
.crimeTypeHeaderTitles{
	background-color: #a5c0e2;
	color: white;
	font-style: normal;
}

/* crime data flex table */
.crimeData {
	border: 1px solid silver;
	padding: 1px;
	margin-bottom:10px;
}