/** Add css rules here for your application. */
/*body.crimeApp {
	margin: 0px;
	padding: 0px;
}*/

h1 {
	text-align: left;
	color: #2062B8;
	padding-left: 10px;
	padding-top: 10px;
	font-family: arial, sans-serif;
	font-style: normal;
}	

#menuBar {
	padding-top: 0px;
	background-color: #CCCCCC;
	width: 100%;
	height: 60px;
}

/* crime type header row*/
.crimeTypeHeader {
	background-color: #2062B8;
	color: white;
	font-style: normal;
	text-align: center;
}

/* row selected color change*/
.rowSelectedShadow {
	background-color: #EEEEEE;
	color: black;
}

/* row unselected color change*/
.rowUnselectedShadow {
	color: black;
}

/* crime type header titles row*/
.crimeTypeHeaderTitles {
	background-color: #a5c0e2;
	color: white;
	font-style: normal;
}

/* crime data flex table */
.crimeData {
	border: 2px solid silver;
	padding: 2px;
	margin-bottom: 10px;
}