/** Add css rules here for your application. */
/*body.crimeApp {
	margin: 0px;
	padding: 0px;
}*/


h1 {
	text-align: center;
	color: #2062B8;
	padding-left: 10px;
	padding-top: 0px;
	font-family: arial, sans-serif;
	font-style: normal;
}

.menuBarStyle{
	width: 100%;
	height: 60px;
	background-color: #CCCCCC;
}

.socialStyle{
	padding-top: 35px;
	padding-right: 20px;
	padding-right: 
	vertical-align: center;
}
.signOutLinkStyle{
	padding-right: 20px;
	font-size: 20px;
	float: right;
	
}

.siteTitleLabelStyle{
	color: #0A6AAB;
	font-family: arial, sans-serif;
	font-style: bold;
	padding-top: 25px;
	font-size: 40px;
	float: left;
	text-decoration: underline;
}

.linkPanelStyle{
	float: right;
}	

.appLogoStyle{
	padding-top: 5px;
	padding-left: 10px;
}

/* =============================== Trends Tab CSS ===============================*/
/* crime type header row*/
.crimeTypeHeader {
	background-color: #7B7B7B;
	color: white;
	font-style: normal;
	text-align: center;
}

/* row selected color change*/
.rowSelectedShadow {
	background-color: #EEEEEE;
	color: black;
}

/* row unselected color change*/
.rowUnselectedShadow {
	color: black;
}

/* crime data flex table */
.crimeData {
	border: 2px solid silver;
	padding: 2px;
	margin-bottom: 10px;
	text-align: center;
}

/* crime type header titles*/
.mischiefUnder {
	background-color: #385C9B;
	color: white;
	font-style: normal;
	text-align: center;
}

.mischiefOver {
	background-color: #943432;
	color: white;
	font-style: normal;
	text-align: center;
}

.fromAutoUnder {
	background-color: #7A9830;
	color: white;
	font-style: normal;
	text-align: center;
}

.fromAutoOver {
	background-color: #6A538D;
	color: white;
	font-style: normal;
	text-align: center;
}

.ofAutoUnder {
	background-color: #3883A1;
	color: white;
	font-style: normal;
	text-align: center;
}

.ofAutoOver {
	background-color: #CD7222;
	color: white;
	font-style: normal;
	text-align: center;
}

.commercialBE {
	background-color: #8196C6;
	color: white;
	font-style: normal;
	text-align: center;
}

.selectedYearLabelStyle {
	width: 100px;
	height: 25px;
	background-color: #7B7B7B;
	color: white;
	text-align: center;
	margin: auto;
	padding-left: 3px;
	padding-right: 3px;
}

.clearButtonStyle {
	width: 100px;
	height: 25px;
	text-align: center;
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 3px;
}


.UnSelectedYearLabelStyle {
}



/* =============================== Map Tab CSS ===============================*/


.searchPanelStyle{
	width: 400px;
	height: 550px;
	background-color: #678DC0;
	vertical-align: center;
	padding-left: 35px;
	padding-top: 25px;
}

.filterLabelStyle{
	width: 280px;
	height: 25px;
	radius: 15px;
	text-align: center;
	text-size: 20px;
	color: #FFFFFF;
	padding-top: 10px;
	background-color: #CCCCCC;
	border-radius: 25px;
}

.searchTextBoxStyle{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-style: solid;
    border-color: #7B7B7B;
    text-align: center;
    text-size: 20px;
    color: #7B7B7B;
    text-decoration: bold;
    width: 190px;
    height: 30px;
}

.filterButtonStyle {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-style: solid;
    border-color: #7B7B7B;
	width: 90px;
	height: 35px;
	text-align: center;
	color: #FFFFFF;
}

.crimeTypeListBoxStyle{
	width: 200px; 
	height: 30px;

}

.yearListBoxStyle{
	width: 60px; 
	height: 30px;
	 
}
.clearMapButtonStyle {
	width: 100px;
	height: 25px;
	text-align: center;
	color: #7B7B7B;
	
}

.clearSearchButtonStyle {
	width: 100px;
	height: 25px;
	text-align: center;
	color: #7B7B7B;
	
}

.crimeLocationsStyle {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	vertical-align: center;
	width: 105px;
	height: 25px;
	background-color: #CCCCCC;
	text-size: 20px;
    color: #FFFFFF;
    text-decoration: bold;
    padding-left: 5px;
    padding-top: 5px;
}

.locationNumberLabelStyle{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	vertical-align: center;
	width: 35px;
	height: 25px;
	background-color: #CCCCCC;
	text-size: 20px;
    color: #FFFFFF;
    text-decoration: bold;
    padding-left: 5px;
    padding-top: 5px;
}

.gwt-StackPanel {
    font-weight: normal;
    font-size: 8pt;
    color: #0A6AAB;
}

/* =============================== Settings Tab CSS ===============================*/
.loadDataButtonStyle {
	width: 100px;
	height: 25px;
	text-align: center;
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 3px;
}


.UnSelectedYearLabelStyle {
}



